<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ analytics_id }}');
    </script>
    <title>Virgencita del clima</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body onload="displayImg();">
    <div id="img-div">
        <img id="amuleto" onload="displayWeather()" onclick="displayImg()">
    </div>
    <div class="signpost"><h2 id="chapita"></h2></div>
    <h1 id="porcentaje"></h1>
    <p><a href="https://github.com/reynico/virgencita">Made with <i class="em em-heart"></i> by @jabreu, @gnasr and @reynico</a></p>
</body>

<script>
var prob = "{{ probability }}",
    city = "{{ geocity }}",
    imagesArray = ["fragata.png", "hipocampo.png", "virgencita.png", "lobo_marino.png"],
    htmlPorcentaje = document.getElementById("porcentaje"),
    htmlAmuleto = document.getElementById("amuleto"),
    htmlChapita = document.getElementById("chapita");

function displayImg(){
        var image = imagesArray[Math.floor(Math.random() * imagesArray.length)];    
        htmlAmuleto.setAttribute("src", "static/" + image);
};

function displayWeather(){
    for (var i = 0; i <= prob; i++) {
        setTimeout(function (i) {
            var text = "El souvenir del clima dice: " + i + "% de probabilidad de precipitaciones",
                value = i + 20 + "deg";
                htmlPorcentaje.textContent = text;
                htmlAmuleto.style.filter = "hue-rotate(" + value + ")";

        }, 30 * i, i);        
    };
    htmlChapita.textContent = city;
};
</script>
